<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.search.gradientcolorsystem"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android" android:priority="1"/>

    <application android:label="SearcBar Gradient system" android:hasCode="false"/>
</manifest>
