<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.android.settings.search.roundedmax"
    android:versionCode="1"
    android:versionName="1.0">
    <overlay android:targetPackage="android"  android:priority="1"/>

    <application android:label="SearcBar Square Rounded Max" android:hasCode="false"/>
</manifest>
